extends layout

block content
	nav.navbar.is-info.is-bold(style="min-height: 80px")
		.container
			.navbar-brand
				a.navbar-item(href="/")
					img(src="/images/logo-white.svg", style="width: 60px; height: 60px; max-height: 60px;")
					span(style="font-family: Lato; font-weight: 300; font-size: 24px") Moleculer

				.navbar-burger(data-target="navMenu")
					span
					span
					span

			.navbar-menu#navMenu
				.navbar-start
					a.navbar-item(href="https://github.com/icebob/moleculer-sandbox", target="_blank")
						span.icon(style="font-size: 28px")
							i.fa.fa-github

					a.navbar-item(href="https://twitter.com/MoleculerJS", target="_blank")
						span.icon(style="font-size: 28px;")
							i.fa.fa-twitter

	.section
		.container(style="max-width: 600px")
			h1.title Sign up
			form(action='/signup', method='post')
				if messages && messages.error && messages.error.length > 0
					.field
						.message.is-danger 
							each error in messages.error
								.message-body
									span.icon
										i.fa.fa-warning
									span=  error								

				if messages && messages.info && messages.info.length > 0
					.field
						.message.is-success 
							each info in messages.info
								.message-body
									span.icon
										i.fa.fa-check
									span=  info

				.field
					label.label(for='fullName') Name:
					input.input(id='fullName', name='fullName', class=hasValidationError('fullName') ? "is-danger" : "")
					if hasValidationError('fullName')
						p.help.is-danger= validationErrorMessage('fullName')

				.field
					label.label(for='email') E-mail:
					input.input(id='email', name='email', class=hasValidationError('email') ? "is-danger" : "")
					if hasValidationError('email')
						p.help.is-danger= validationErrorMessage('email')

				.field
					label.label(for='username') Username:
					input.input(id='username', name='username', class=hasValidationError('username') ? "is-danger" : "")
					if hasValidationError('username')
						p.help.is-danger= validationErrorMessage('username')

				.field
					label.label(for='password') Password:
					input.input(type='password', id='password', name='password', class=hasValidationError('password') ? "is-danger" : "")
					if hasValidationError('password')
						p.help.is-danger= validationErrorMessage('password')

				.field
					button.button.is-primary(type='submit', onclick="this.classList.add('is-loading');") Sign up

				hr

				.field.is-grouped
					if socialProviders.indexOf("google") !== -1
						.control
							a.button.is-secondary(href='/auth/google') 
								span.icon
									i.fa.fa-google
								span Sign up with Google
					if socialProviders.indexOf("facebook") !== -1
						.control
							a.button.is-secondary(href='/auth/facebook')
								span.icon
									i.fa.fa-facebook
								span Sign up with Facebook
					if socialProviders.indexOf("github") !== -1
						.control
							a.button.is-secondary(href='/auth/github')
								span.icon
									i.fa.fa-github
								span Sign up with Github
					if socialProviders.indexOf("twitter") !== -1
						.control
							a.button.is-secondary(href='/auth/twitter')
								span.icon
									i.fa.fa-twitter
								span Sign up with Twitter
				hr
				p Already have an account? 
					a(href="/login") Sign in!				